<div ng-app="app">
	<div ui-view></div>	
</div>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/javascripts/app/app.js"></script>
<script src="/javascripts/app/route-config.js"></script>