<div ng-app="app" ng-controller="dataController">
	<div ui-view></div>	
</div>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower/angular-cookies/angular-cookies.js"></script>
<script src="/javascripts/app/app.js"></script>
<script src="/javascripts/app/controllers/data-controller.js"></script>
<script src="/javascripts/app/controllers/modal-controller.js"></script>
<script src="/javascripts/app/controllers/modalInstance-controller.js"></script>
<script src="/javascripts/app/lessons/lessons.js"></script>
<script src="/javascripts/app/route-config.js"></script>