body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.bg {
  background: url('/images/jumbotron.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  /*background: /transparent !important;*/
}

.panel > .panel-heading {
    background-image: none;
    background-color: transparent;
    /*color: white;*/
}

.panel-title {
  font-size: 30px;
}

.progress {
  margin-bottom: 0;
}

.modal-body {
    padding: 0;
  }

.panel-collapse.in{
  background:white;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

a:hover {
 cursor:pointer;
}

.cursorHand {
 cursor:pointer; 
}

.red {
  color:red;
}

.black {
  color:black;
}

.selected { 
  color:#5BC0DE;
}

.buttonRoundedCornersDarkBlue {
  width: 106px;
  height: 34px;
  background-color: #5BC0DE;

  moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  border-radius: 34px;

  /*border: 5px solid #0049a2;*/
  /*padding: 5px;*/

  padding: 4px 12px;
  color:white;
  /*color:#1186d5;*/
  border:none;
  vertical-align: middle;
  font-family : 'Roboto-Bold';
  font-size: 13pt !important;
&:hover { background-color: #1186d5; color:#0049A1}

} 

.buttonRoundedCornersBlue {
  width: 106px;
  height: 34px;
  background-color: #0049a1;

  moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  border-radius: 34px;

  /*border: 5px solid #0049a2;*/
  /*padding: 5px;*/

  padding: 4px 12px;
  color:white;
  /*color:#1186d5;*/
  border:none;
  vertical-align: middle;
  font-family : 'Roboto-Bold';
  font-size: 13pt !important;
&:hover { background-color: #1186d5; color:#0049A1}

} 

.buttonRoundedCornersBlueBig {
  width: 136px;
  height: 44px;
  background-color: #0049a1;

  moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  border-radius: 34px;

  /*border: 5px solid #0049a2;*/
  /*padding: 5px;*/

  padding: 4px 12px;
  color:white;
  /*color:#1186d5;*/
  border:none;
  vertical-align: middle;
  font-family : 'Roboto-Bold';
  font-size: 17pt !important;
&:hover { background-color: #1186d5; color:#0049A1}

} 

button[disabled], html input[disabled] {
  color: grey;
}
