<div ng-controller="ModalController">
    <i ng-show="currentLessonStep.type.indexOf('quiz') === -1 && currentLessonStep.type.indexOf('cover') === -1" class="fa  fa-list-ul cursorHand" style="position: absolute;
    margin-left: 0.5em;
    font-size: 2em;
    color:white;
    margin-top: 0.5em;
    z-index: 2;
    " ng-click="openLesson()"></i>
</div>
<div class="row" ng-if="currentLessonStep.type === 'cover'" ng-style="alwaysFullScreenStyle" style="background: #5BC0DE; color:white;">
    <h1 class="text-center" ng-style="">{{currentLessonStep.title}}</h1>
    <img class="text-center" style="margin: 0 auto; display:block" ng-src={{currentLessonStep.location}} alt="">
    <h1 class="text-center"><button type="button" style="margin-left:1em; margin-bottom:10px; font-size: 200%" class="buttonRoundedCornersBlueBig" ng-click="nextPage()">Start Now</button></h1>
</div>
<div class="row" ng-if="currentLessonStep.type === 'quiz:all'" ng-style="alwaysFullScreenStyle" style=" background: #5BC0DE; color:white; position:relative; padding-bottom:4em">
    <div class="container">
        <div class="row">
            <h2 class=""><i style="margin-right:0.5em;" class="fa fa-question-circle"></i>
            <span  ng-bind-html="currentLessonStep.title"></span></h2>
            <div class="result" style="margin-top:3em">
                <div ng-switch on="answerResult">
                    <div ng-switch-when="true" class="alert alert-success" role="alert">
                        Good job!
                    </div>
                    <div ng-switch-when="false" class="alert alert-danger" role="alert">
                        Ops! The correct answers are shown.
                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <section href="" ng-click="selectAnswer($index)" class="cursorHand list-group-item" ng-class="{true: 'black', false: 'selected'}[selectedAnswers.indexOf($index)===-1]" ng-repeat="selection in currentLessonStep.questions.split('|')" style="margin:0.5em 0">
                    <div class="" style="margin-top: 0; ">
                        <p style="margin-left:2em">
                            <i ng-if="submitted && answerArr.indexOf($index.toString())!=-1" style="margin-right:0.5em; " class="fa fa-check-circle-o"></i> {{selection}}
                        </p>
                    </div>
                </section>
                <button ng-hide="submitted" ng-disabled="selectedAnswers.length===0" style="position:absolute; bottom: 1em; right:1em;" class="buttonRoundedCornersBlue" ng-click="submitAnswer()">Submit</button>
                <button type="button" class="buttonRoundedCornersBlue" ng-if="submitted" ng-click="nextPage()" style="position:absolute; bottom: 1em; right:1em;" class="buttonRoundedCornersBlue">Continue</button>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-if="currentLessonStep.type === 'quiz:one'" ng-style="alwaysFullScreenStyle" style=" background: #5BC0DE; color:white; position:relative; padding-bottom:4em">
    <div class="container">
        <div class="row">
            <h2 class=""><i style="margin-right:0.5em;" class="fa fa-question-circle"></i>
            <span  ng-bind-html="currentLessonStep.title"></span></h2>
            <img ng-if="!!currentLessonStep.location" style="width:100%" ng-src="{{currentLessonStep.location}}" alt="">
            <div class="result" style="margin-top:3em">
                <div ng-switch on="answerResult">
                    <div ng-switch-when="true" class="alert alert-success" role="alert">
                        Good job!
                    </div>
                    <div ng-switch-when="false" class="alert alert-danger" role="alert">
                        Ops! The correct answers are shown.
                    </div>
                </div>
            </div>
            <div style="margin-top:3em">
                <section href="" ng-click="selectOneAnswer($index)" class="cursorHand list-group-item" ng-class="{true: 'black', false: 'selected'}[selectedAnswers.indexOf($index)===-1]" ng-repeat="selection in currentLessonStep.questions.split('|')" style="margin:0.5em 0">
                    <div class="" style="margin-top:0">
                        <p style="margin-left:2em">
                            <i ng-if="submitted && answerArr.indexOf($index.toString())!=-1" style="margin-right:0.5em" class="fa fa-check-circle-o"></i> {{selection}}
                        </p>
                    </div>
                </section>
                <button ng-hide="submitted" ng-disabled="selectedAnswers.length===0" style="position:absolute; bottom: 1em; right:1em;" class="buttonRoundedCornersBlue" ng-click="submitAnswer()">Submit</button>
                <button type="button" ng-if="submitted" ng-click="nextPage()" style="position:absolute; bottom: 1em; right:1em;" class="buttonRoundedCornersBlue">Continue</button>
            </div>
        </div>
    </div>
</div>
<!-- 2 column layout -->
<div class="row" ng-if="currentLessonStep.type !== 'cover' && currentLessonStep.type.indexOf('quiz') === -1">
    <div class="col-sm-12 col-md-5" ng-style="fullScreenStyle" style="background: #5BC0DE; color:white; box-shadow: 5px 0px 3px #337AB7; overflow: auto">
        <h1 style="margin-top:50px">{{currentLessonStep.title}}</h1>
        <p style="margin-top:80px; font-size:1.2em" ng-bind-html="currentLessonStep.instruction"></p>
    </div>
    <div class="col-sm-12 col-md-7 pull-right" ng-style="fullScreenStyle" style="padding-bottom:2.5em" ng-switch on="currentLessonStep.type">
        <section style="margin-top:50px; margin-bottom:2em">
            <img ng-switch-when="image" style="width:100%" ng-src="{{currentLessonStep.location}}" alt="">
            <div ng-switch-when="video" align="center" class="embed-responsive embed-responsive-16by9">
                <video controls autoplay class="embed-responsive-item" ng-src="{{trustSrc(currentLessonStep.location)}}">
                </video>
            </div>
            <div ng-switch-when="youtube" class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{trustSrc(currentLessonStep.location)}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        <div class="row" ng-if="stepIndexChosen >= lessonData.length-1 && questionsTotal!==0">
            <div class="col-xs-12">
                <h4>You answered {{questionsCorrect}} out of {{questionsTotal}} questions correct.</h4>
                <h4> You received a total score of {{finalScore}}.
                <span ng-if="finalScore>80">Good job!<i class="fa fa-thumbs-up"></i></span>
                <span ng-if="finalScore>=50 && finalScore<=80">Not bad. <i class="fa fa-hand-peace-o"></i> </span>
                <span ng-if="finalScore<50">Come on... You are better than that! <i class="fa fa-thumbs-down"></i></span>
                </h4>
            </div>
        </div>
        <div class="row" ng-if="stepIndexChosen >= lessonData.length-1 && lessonIndexChosen >= currentClassContent.length-1">
            <div class="col-xs-12">
                <p>Please take this short survey <a target="_blank" href="http://goo.gl/forms/fWoBU0RFzF">here</a>. Thanks!</p>
            </div>
        </div>
        <button type="button" ng-hide="stepIndexChosen >= lessonData.length-1" style="position:absolute; bottom: 1em; right:1em;" class="buttonRoundedCornersDarkBlue" ng-click="nextPage()" style="">Continue</button>
        <button type="button" ng-show="stepIndexChosen >= lessonData.length-1" style="position:absolute; bottom: 1em; right:1em;" class="buttonRoundedCornersDarkBlue" ui-sref="home" style="">Home</button>
    </div>
</div>
